/* Universal properties */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav span {
  display:  inline-block;
}


/* not sure what this does. come back and test */

header nav {
  padding-right: 40px;
}

a {
  color: black;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

div {
  display: block;
}

body {
  margin: 0;
}

/*typography */

p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

text-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

h2 {
    display: block;
  }
/* column setup */

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-content {

}

/* to be checked */
.stories .headlines .images {
  display: flex;
  text-align: left;
}
